
/* This is a header section strat  */
body {
  margin: 0;
  padding: 0;
  background-color: #130f40;
}
header {
  background-color: #686de0;
}
.navbar {
  margin: 0 auto;
  width: 1150px;
  height: 63px;
  /* background-color: #686de0; */
  text-align: center;
}

.navbar ul li {
  list-style-type: none;
  float: left;
  margin: 20px;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
.navbar ul li .sign-up{
  color: aqua;
}
/* This is a header section end  */



/* This is a title section start */
.title {
  width: 50%;
  height: fit-content;
  margin-left: 50px;
  float: left;
  color: white;
  text-transform: uppercase;
  position: relative;
  top: 200px;
}

h1 {
  text-align: left;
  /* color: #22a6b3; */

  font-size: 50px;
}
.welcome {
  color: #22a6b3;
  font-size: 50px;
}
.title img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  left: 200px;
}



.main-image {
  width: 650;
  height: 400px;
  float: right;
  position: relative;
  top: 200px;
  right: 50px;
}
#image {
  width: 650px;
  height: 400px;
  border: 5px solid green;
  border-radius: 100px;
}

.div-clear-1 {
  clear: both;
}

/* This is a title section end */

/* This is a Personal Information start */

.section-2 {
  color: white;
  margin-left: 50px;
  margin-top: 500px;
  border: 2px solid aquamarine;
  width: fit-content;
}

ul {
  list-style: circle;
  font-size: 20px;
}

.personal-1 {
  font-size: 30px;
  width: 400px;
  height: 100%;
  background-color: aquamarine;
  text-align: center;
  color: black;
}
/* This is a Personal Information end */


/* <!-- This is a Qualification section start --> */
.section-3{
  
  width: fit-content;
  float: right;
  position: relative;
  right: 50px;
  top: -245px;
}
.qualification {
  margin-left: 50px;
  margin-top: 500px;
}
table,
tr,
th,
td {
  font-size: 20px;
  color: white;
  border: 2px solid green;
  border-collapse: collapse;
}
table {
  width: 800px;
  height: 200px;
  text-align: center;
}
.qualification-1 {
  font-size: 30px;
  width: 800px;
  height: 100%;
  background-color: aquamarine;
  text-align: center;
}
.qualification-2 {
  margin-left: 50px;
}


.section-4{
  margin-left: 50px;
  border: 2px solid aquamarine;
  width: fit-content;
}
/* This is a Qualification section start */


/* This is a skill section start */
.main-skill {
  
  color: white;
  font-size: 20px;
}
.skill {
  font-size: 30px;
  width: 400px;
  height: 100%;
  background-color: aquamarine;
  text-align: center;
  color: black;
  
}

.develop{
  list-style-type: lower-alpha;
}
/* This is a skill section start */



/* This is a hobby section start */
.main-hobby-section {
  color: white;
  border: 2px solid aquamarine;
  width: fit-content;

  margin-left: 50px;
}

.hobby-1 {
  font-size: 30px;
  width: 400px;
  height: 100%;
  background-color: aquamarine;
  text-align: center;
  color: black;
}

.hobby-text{
  color: white;
  width: 800px;
  position: relative;
  right: 50px;
  float: right;
  top: -500px;
}
.section-5 .back{
  margin-left: 50px;
}
/* This is a hobby section end */



/* This is a form section start */
.main-form {
  color: white;
  margin-left: 50px;
  margin-bottom: 50px;
  font-size: 25px;
  background-color: crimson;
  width: fit-content;
  width: fit-content;
  padding: 50px;
  margin: 0 auto;
  border-radius: 50px;
  border: 3px solid white;
}
.main-form h3{
  text-align: center;
  color: greenyellow;
}

/* This is a form section end */


/* This is a footer section strat  */
.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  margin-bottom: 0;
}
.footer-name h1 {
  text-align: center;
  text-transform: uppercase;
  color: #22a6b3;
}
.text p {
  width: 500px;
  margin: 0 auto;
  position: relative;
  top: -25px;
}
.icon i {
  font-size: 30px;
  padding: 20px;
  color: #22a6b3;
  position: relative;
  top: -25px;
}
.copy {
  width: 100%;
  height: 50px;
  background-color: gray;
  font-size: 25px;
  position: relative;
  line-height: 50px;
}
.back {
  color: red;
}
/* This is a footer section end */

/* back to home */
#back-to-home {
  margin: 0 auto;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
